body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #fafafa;
  height: 100%;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  }

summary {
  display: block;
  margin:  10px auto;
}

textarea {
  border: 1px solid #D1D3D4;
  display: inline-block;
  font-size: 20px;
  height: 30px;
  margin: 5px auto;
  resize: none;
  width: 90vw;
}

.button {
  background-color: #000;
  border: none;
  color: #FFF;
  display: inline-block;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  margin:  5px auto;
  width: 91vw;
}

.button:hover {
  background-color: gray;
  cursor: pointer;
}

.button:disabled {
  background-color: gray;
  cursor: default;
}

.completed-btn {
  background-color: #000;
  border: none;
  color: #FFF;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  margin-left: 30px;
}

.completed-btn:hover {
  background-color: gray;
  cursor: pointer;
}

.completed {
  opacity: .5;
  /*-webkit-animation:spin .2s linear;
    -moz-animation:spin .2s linear;
    animation:spin .2s linear;*/
}

/*@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }*/

.search {
  margin-top: 5px;
  position: relative;
  text-align: center;
}

#task{
  height: 70px;
}

#char-num {
  text-align: right;
  margin-right: 5vw;
  font-size: 15px;
}

#todo-logo {
  color: #000;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
}

#box-logo{
  color: #6D6E71;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
}

#showall {
  display: flex;
  text-align: center;
  width: auto;
}

article {
  padding: 10px 0;
  position: relative;
  margin: 20px auto;
  width: 90vw;
}

.card-top{
  height: 30px;
}

.card-middle{
  height: 80px;
  overflow: scroll;
}

.card-bottom{
  align-items: center;
  display: flex;
  border-bottom: 1px solid #607D8B;
  height: 30px;
  padding-bottom: 20px;
}

button > .card-btn-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
   padding: 0;
   border: 0;
   height: 1px;
   width: 1px;
   overflow: hidden;
}

label > .input-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
   padding: 0;
   border: 0;
   height: 1px;
   width: 1px;
   overflow: hidden;
}

.task-title {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  height: 30px;
  left: 0;
  overflow: scroll;
  position: absolute;
  top: 0;
}

.task-body{
  color: #000;
  text-align: left;
}

.delete-btn{
  background-image: url('../images/delete.svg');
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.delete-btn:hover {
  background-image: url('../images/delete-hover.svg');
  cursor: pointer;
}

.up-btn{
  background-color: transparent;
  background-image: url('../images/upvote.svg');
  background-repeat: no-repeat;
  border: none;
  bottom: 0;
  height: 25px;
  left: 0;
  width: 25px;
}

.up-btn:hover {
  background-image: url('../images/upvote-hover.svg');
  cursor: pointer;
}

.down-btn{
  background-image: url('../images/downvote.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  height: 25px;
  border: none;
  bottom: 0;
  margin-left: 10px;
  width: 25px;
}

.down-btn:hover {
  background-image: url('../images/downvote-hover.svg');
  cursor: pointer;
}

.quality {
  color: #6D6E71;
  margin-left: 30px;
}

.quality-button {
  background-color: #000;
  border: none;
  color: #FFF;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  margin:  5px auto;
}

.quality-button:hover {
  background-color: gray;
  cursor: pointer;
}

@media screen and (min-width: 768px) {

textarea {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
  width: 400px;
}

.button {
  margin-bottom: 15px;
  width: 400px;
}

.new-task {
  width: 400px;
}

.search {
  margin-top: 15px;
}

#title {
  margin-top: 20px;
}
#task {
  height: 30px;
}

#todo-logo {
  font-size: 50px;
}

#box-logo {
  font-size: 50px;
}

.card-middle {
  height: 60px;
}
